<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">

                <div class="d-flex justify-content-between flex-wrap mt-1">

                    <div>
                        <h4 class="card-title">Lista de Empresas</h4>
                        <h6 class="card-subtitle">Total: {{ total | number }}</h6>

                    </div>
                    <div>
                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-bussiness">Crear Empresa</button>
                    </div>

                </div>

                <div class="d-flex justify-content-between flex-wrap mt-1">
                    <div class="my-2">
                        <input type="text" id="demo-input-search2" placeholder="Buscar Empresa" (keyup)="search(buscador.value)" class="form-control m-0" #buscador>
                        <small *ngIf="resultados > 0" class="text-muted animated fadeIn">Resultados: {{resultados}}</small>
                    </div>

                    <div class="my-2">

                        <label for="mostrar" class="me-2">Mostrar: </label>
                        <select name="" id="" [value]="limite" #mostrar (change)="limiteChange(mostrar.value)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                        </select>

                    </div>
                </div>

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Nit</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="bussiness.length == 0">
                                <td colspan="5">
                                    <h3 class="mb-0 text-center"> Aun no existen registros de trabajadores... </h3>
                                </td>
                            </tr>

                            <tr *ngFor="let empresa of bussiness">
                                <!-- Worker -->
                                <td>
                                    <a [routerLink]="['/dashboard/empresa', empresa.bid]" el="noopener noreferrer">

                                        {{ empresa.name }} 
                                    </a>
                                </td>
                                <td> {{ empresa.nit }} </td>
                                <td> {{ empresa.phone }} </td>
                                <td> {{ empresa.address }} </td>
                                <td>
                                    <span *ngIf="empresa.status" class="label label-success"> Activo </span>
                                    <span *ngIf="!empresa.status" class="label label-danger"> Desactivado </span>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>

                                <td colspan="5">

                                    <div class="btn-group" role="group" aria-label="First group">
                                        <button [disabled]="desde === 0" (click)="cambiarPagina(-10)" type="button" class="btn btn-dark text-white">Atras</button>
                                        <button [disabled]="( desde + limite ) >= total" (click)="cambiarPagina(10)" type="button" class="btn btn-dark text-white">Siguiente</button>
                                    </div>

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================================= 
MODAL AGREGAR EMPRESA
======================================================== -->
<div id="add-bussiness" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #modalNewUser>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Nueva Empresa</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-material" autocomplete="off" [formGroup]="formCreate" (ngSubmit)="createBussiness()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="name" type="text" class="form-control" placeholder="Nombre o Razon Social">
                            <div *ngIf="validateForm('name')" class="form-control-feedback">
                                <small> El Nombre o Razon social es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="email" type="email" class="form-control" placeholder="email">
                            <div *ngIf="validateForm('email')" class="form-control-feedback">
                                <small> El email es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="nit" type="text" class="form-control" placeholder="NIT">
                            <div *ngIf="validateForm('nit')" class="form-control-feedback">
                                <small> El NIT es obligatorio </small>
                            </div>
                        </div>
                        <div class="col-md-12 m-b-20">
                            <input formControlName="phone" type="text" class="form-control" placeholder="Telefono">
                            <div *ngIf="validateForm('phone')" class="form-control-feedback">
                                <small> El Telefono es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="password" type="password" class="form-control" placeholder="Password">
                            <div *ngIf="validateForm('password')" class="form-control-feedback">
                                <small> El password es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="repassword" type="password" class="form-control" placeholder="Password">
                            <div *ngIf="validateForm('repassword')" class="form-control-feedback">
                                <small> El password es obligatorio </small>
                            </div>
                            <div *ngIf="valuePass" class="form-control-feedback">
                                <small> Las contraseñas no son iguales </small>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>