<!-- CONTROL - CLIENT -->
<div *ngIf="worker" class="d-flex align-item-center flex-wrap gap-2 mb-3">

    <div class="d-flex flex-row bg-white pl-0 shadow-sm mt-2">
        <div class="p-10 bg-success" [ngClass]="{'bg-warning': worker.type === 'Aspirante'}">
            <h3 class="text-white box m-b-0">
                <i class=" mdi mdi-account-outline fs-2"></i>
            </h3>
        </div>
        <div class="align-self-center m-l-20 pr-3">
            <h4 class="m-b-0  text-break" [ngClass]="{'text-warning': worker.type === 'Aspirante', 'text-success': worker.type === 'Trabajador'}"> Status </h4>
            <small class="text-muted m-b-0">
                {{ worker.type }}
            </small>

        </div>


    </div>


</div>
<!-- CONTROL - CLIENT -->

<div *ngIf="worker" class="row">

    <!-- INFORMACION -->

    <div class="col-lg-8 col-xlg-9 col-md-7">

        <div class="card-body bg-white">

            <div class="d-flex">
                <div>
                    <h4 class="card-title"><span class="lstick"></span>Dirección</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-xs-6 b-r"> <strong>Telefono</strong>
                    <br>
                    <p class="text-muted">
                        <i class="mdi mdi-phone"></i> {{ worker.phone || '--- ----' }}
                    </p>
                </div>
                <div class="col-md-auto col-xs-6 b-r"> <strong>Email</strong>
                    <br>
                    <p class="text-muted text-break">
                        <i class="mdi mdi-mail-ru"></i> {{ worker.email || '----@----.com' }}
                    </p>
                </div>
                <div class="col-md-3 col-xs-6"> <strong>Ciudad</strong>
                    <br>
                    <p class="text-muted text-break">
                        <i class="mdi mdi-map-marker-circle"></i> {{ worker.city || '-------------' }}
                    </p>
                </div>
            </div>
            <hr>

            <div class="col-12"> <strong>Departamento</strong>
                <br>
                <p class="text-muted">
                    <i class="mdi mdi-map-marker-circle"></i> {{ worker.department || '-------------' }}
                </p>
            </div>



        </div>


        <div class="card mt-4">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Archivos</h4>
                    </div>
                </div>
                <div class="table-responsive m-t-20 no-wrap">
                    <table class="table vm no-th-brd pro-of-month">
                        <thead>
                            <tr>
                                <th colspan="2">Descripción</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- <a _ngcontent-hbs-c37="" target="_blank" class="btn btn-sm btn-outline-primary border-0" href="https://grupofortalezasas.com/api/uploads/archivos/e01fb37e-7b1c-4a33-99c5-b49f499f4200.docx"><i _ngcontent-hbs-c37="" class="bi bi-arrow-90deg-right"></i></a> -->

                            <tr *ngFor="let file of worker.attachments">

                                <td *ngIf="file.type === 'archivos'" style="width:50px;">
                                    <a href="https://grupofortalezasas.com/api/uploads/archivos/{{file.attachment}}" download target="_blank">
                                        <span class="round">
                                            <i class="mdi mdi-file-outline"></i>
                                        </span>
                                    </a>
                                </td>

                                <td *ngIf="file.type === 'img'" style="width:50px;">
                                    <a href="https://grupofortalezasas.com/api/uploads/archivos/{{file.attachment}}" download target="_blank">
                                        <img [src]="file.attachment | imagen:'archivos'" alt="user" width="50">
                                    </a>
                                </td>

                                <td>
                                    <h6>
                                        {{ file.desc }}
                                        <br>
                                        <small class="text-muted">fecha: {{ file.fecha | date:'short' }}</small>
                                    </h6>
                                </td>

                                <td>
                                    <span *ngIf="!file.status" class="label label-danger label-rounded">Rechazada</span>
                                    <span *ngIf="!file.approved && file.status" class="label label-warning label-rounded">Pendiente</span>
                                    <span *ngIf="file.approved && file.status" class="label label-success label-rounded">Aprobado</span>
                                </td>

                                <td>

                                    <button (click)="aprobarArchivo(file._id, true, true)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-success" data-toggle="tooltip" data-original-title="Aprobar">
                                        <i class="ti-check" aria-hidden="true"></i>
                                    </button>

                                    <button (click)="aprobarArchivo(file._id, false, true)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-warning" data-toggle="tooltip" data-original-title="Aprobar">
                                        <i class="ti-alarm-clock" aria-hidden="true"></i>
                                    </button>

                                    <button (click)="aprobarArchivo(file._id, false, false)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-danger" data-toggle="tooltip" data-original-title="Rechazar">
                                        <i class="ti-na" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- INFORMACION -->

    <!-- IMG -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body little-profile text-center">
                <div class="pro-img m-t-20"><img [src]="worker.img | imagen:'worker'" alt="user"></div>
                <h3 class="m-b-0"> {{ worker.name }} </h3>

                <button type="button" class="btn waves-effect waves-light btn-primary btn-sm">Asignar Trabajo</button>
                <ul class="list-inline soc-pro m-t-30">
                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span> Acerca del trabajador</h4>
                <h4 class="font-medium m-t-30">Breve descripción</h4>
                <p *ngIf="!worker.description" class="m-t-10">
                    Este usuario no ha suministrado ninguna descripción...
                </p>
                <p *ngIf="worker.description" class="m-t-10">
                    {{ worker.description }}
                </p>

                <h4 class="font-medium m-t-10">Experiencias o Habilidades</h4>
                <hr>

                <ul class="feeds">
                    <li *ngFor="let exp of worker.skills">
                        {{ exp.name }}

                        <span class="label label-info label-rounded pull-right">
                            {{ exp.years }}
                            <span *ngIf="exp.years === 1">año</span>
                        <span *ngIf="exp.years > 1">años</span>
                        </span>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <!-- IMG -->

</div>