<!-- CONTROL - CLIENT -->
<div *ngIf="worker" class="d-flex align-item-center flex-wrap gap-2 mb-3">

    <div class="d-flex flex-row bg-white pl-0 shadow-sm mt-2">
        <div class="p-10 bg-success" [ngClass]="{'bg-warning': worker.type === 'Aspirante'}">
            <h3 class="text-white box m-b-0">
                <i class=" mdi mdi-account-outline fs-2"></i>
            </h3>
        </div>
        <div class="align-self-center m-l-20 pr-3">
            <h4 class="m-b-0  text-break" [ngClass]="{'text-warning': worker.type === 'Aspirante', 'text-success': worker.type === 'Trabajador'}"> Status </h4>
            <small class="text-muted m-b-0">
                {{ worker.type }}
            </small>

        </div>


    </div>


</div>
<!-- CONTROL - CLIENT -->

<div *ngIf="worker" class="row">

    <!-- INFORMACION -->

    <div class="col-lg-8 col-xlg-9 col-md-7">

        <div class="card-body bg-white">

            <div class="d-flex">
                <div>
                    <h4 class="card-title"><span class="lstick"></span>Dirección</h4>
                </div>
                <div class="ml-auto">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editPerfil">
                        Editar Perfil
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-xs-6 b-r"> <strong>Telefono</strong>
                    <br>
                    <p class="text-muted">
                        <i class="mdi mdi-phone"></i> {{ worker.phone || '--- ----' }}
                    </p>
                </div>
                <div class="col-md-auto col-xs-6 b-r"> <strong>Email</strong>
                    <br>
                    <p class="text-muted text-break text-wrap">
                        <i class="mdi mdi-mail-ru"></i> {{ worker.email || '----@----.com' }}
                    </p>
                </div>
                <div class="col-md-3 col-xs-6"> <strong>Ciudad</strong>
                    <br>
                    <p class="text-muted text-break">
                        <i class="mdi mdi-map-marker-circle"></i> {{ worker.city || '-------------' }}
                    </p>
                </div>
            </div>
            <hr>

            <div class="col-12"> <strong>Departamento</strong>
                <br>
                <p class="text-muted">
                    <i class="mdi mdi-map-marker-circle"></i> {{ worker.department || '-------------' }}
                </p>
            </div>
            <hr>
            <div class="col-12"> <strong>Dirección</strong>
                <br>
                <p class="text-muted">
                    <i class="mdi mdi-map-marker-circle"></i> {{ worker.address || '-------------' }}
                </p>
            </div>
            <hr>
            <div class="col-12"> <strong>Barrio</strong>
                <br>
                <p class="text-muted">
                    <i class="mdi mdi-map-marker-circle"></i> {{ worker.barrio || '-------------' }}
                </p>
            </div>



        </div>


        <div class="card mt-4">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Archivos</h4>
                    </div>
                </div>

                <!-- BTN ADD FILES MODAL -->
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#subirArchivos">Agregar</button>
                <!-- BTN ADD FILES MODAL -->


                <div class="table-responsive m-t-20 no-wrap">

                    <hr>
                    <div class="d-flex gap-2">

                        <!-- DESCARGAR TODO LOS ARCHIVOS -->
                        <a href="https://grupofortalezasas.com/api/worker/zip/all/{{worker.wid}}" download target="_blank">
                            <i class="mdi mdi-arrow-down"></i> <small> Descargar Todos</small>
                        </a>
                        <!-- DESCARGAR TODO LOS ARCHIVOS -->

                        <!-- APROBAR - RECHAZAR TODOS -->
                        <div class="ml-auto">
                            <button (click)="aprobarAll(true, true)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-success" data-toggle="tooltip" data-original-title="Aprobar">
                                <i class="ti-check" aria-hidden="true"></i>
                            </button>

                            <button (click)="aprobarAll(false, true)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-warning" data-toggle="tooltip" data-original-title="Aprobar">
                                <i class="ti-alarm-clock" aria-hidden="true"></i>
                            </button>

                            <button (click)="aprobarAll(true, false)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-danger" data-toggle="tooltip" data-original-title="Rechazar">
                                <i class="ti-na" aria-hidden="true"></i>
                            </button>

                        </div>

                    </div>
                    <hr>
                    <table class="table vm no-th-brd pro-of-month">
                        <thead>
                            <tr>
                                <th colspan="2">Descripción</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- <a _ngcontent-hbs-c37="" target="_blank" class="btn btn-sm btn-outline-primary border-0" href="https://grupofortalezasas.com/api/uploads/archivos/e01fb37e-7b1c-4a33-99c5-b49f499f4200.docx"><i _ngcontent-hbs-c37="" class="bi bi-arrow-90deg-right"></i></a> -->

                            <tr *ngIf="worker.attachments.length === 0">
                                <td colspan="4">
                                    <h4 class="mb-0 text-center"> No se han cargado ningun documento </h4>
                                </td>
                            </tr>

                            <tr *ngFor="let file of worker.attachments">

                                <td *ngIf="file.type === 'archivos'" style="width:50px;">
                                    <a href="https://grupofortalezasas.com/api/uploads/archivos/{{file.attachment}}" download target="_blank">
                                        <span class="round">
                                            <i class="mdi mdi-file-outline"></i>
                                        </span>
                                    </a>
                                </td>

                                <td *ngIf="file.type === 'img'" style="width:50px;">
                                    <a href="https://grupofortalezasas.com/api/uploads/archivos/{{file.attachment}}" download target="_blank">
                                        <img [src]="file.attachment | imagen:'archivos'" alt="user" width="50">
                                    </a>
                                </td>

                                <td>
                                    <h6>
                                        {{ file.desc }}
                                        <br>
                                        <small class="text-muted">fecha: {{ file.fecha | fecha }}</small>
                                    </h6>
                                </td>

                                <td>
                                    <span *ngIf="!file.status" class="label label-danger label-rounded">Rechazada</span>
                                    <span *ngIf="!file.approved && file.status" class="label label-warning label-rounded">Pendiente</span>
                                    <span *ngIf="file.approved && file.status" class="label label-success label-rounded">Aprobado</span>
                                </td>

                                <td>

                                    <button (click)="aprobarArchivo(file._id, true, true)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-success" data-toggle="tooltip" data-original-title="Aprobar">
                                        <i class="ti-check" aria-hidden="true"></i>
                                    </button>

                                    <button (click)="aprobarArchivo(file._id, false, true)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-warning" data-toggle="tooltip" data-original-title="Aprobar">
                                        <i class="ti-alarm-clock" aria-hidden="true"></i>
                                    </button>

                                    <button (click)="aprobarArchivo(file._id, false, false)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-danger" data-toggle="tooltip" data-original-title="Rechazar">
                                        <i class="ti-na" aria-hidden="true"></i>
                                    </button>

                                    <button (click)="deleteFile(file.attachment)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-danger" data-toggle="tooltip" data-original-title="Rechazar">
                                        <i class="ti-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="card mt-4">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Trabajos asignados</h4>
                    </div>
                    <div class="ml-auto">
                        <!-- <select class="custom-select b-0">
                                <option selected="">January 2017</option>
                                <option value="1">February 2017</option>
                                <option value="2">March 2017</option>
                                <option value="3">April 2017</option>
                            </select> -->
                    </div>
                </div>
                <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd no-wrap pro-of-month">
                        <thead>
                            <tr>
                                <th colspan="2">Empresa</th>
                                <th>Trabajo</th>
                                <th>Pago</th>
                                <th>Fecha de inicio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="jobs.length === 0">
                                <td colspan="5">
                                    <h4>No se ha asignado ningun trabajo...</h4>
                                </td>
                            </tr>

                            <tr *ngFor="let job of jobs">

                                <td style="width:50px;">
                                    <span class="round">
                                        <img [src]="job.bussiness.img | imagen:'bussiness'" alt="user" width="50">
                                    </span>
                                </td>

                                <td>
                                    <h6> {{ job.bussiness.name }} </h6>
                                </td>
                                <td style="max-width:250px;">
                                    <h6> {{ job.name }} </h6>
                                    <p class="mb-0 text-truncate" style="max-width:250px;">

                                        <small class="text-muted "> {{ job.description }} </small>
                                    </p>
                                </td>

                                <td> {{ job.sueldo | currency:'COP' }} </td>

                                <td><span class="label label-success label-rounded"> {{ job.fechain | fecha }} </span></td>
                                <td>
                                    <!-- selectJob -->
                                    <button (click)="selectJob(job)" data-toggle="modal" data-target="#selectJob" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-success">
                                        <i class="ti-medall" aria-hidden="true"></i>
                                    </button>
                                    <button (click)="eliminarTrabajo(job.jid)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-danger">
                                        <i class="ti-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- INFORMACION -->

    <!-- IMG -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body little-profile text-center">
                <div class="pro-img m-t-20">
                    <a href="https://grupofortalezasas.com/api/uploads/worker/{{worker.img}}" download target="_blank">
                        <img [src]="worker.img | imagen:'worker'" alt="user">
                    </a>
                </div>
                <h3 class="m-b-0"> {{ worker.name }} </h3>
                <p class="mb-3 text-muted"> CC: {{worker.cedula || '--------'}} </p>

                <button (click)="asginar(worker.type)" type="button" class="btn waves-effect waves-light btn-primary btn-sm mb-2">
                    <span *ngIf="worker.type === 'Aspirante'">Contratar</span>
                    <span *ngIf="worker.type === 'Trabajador'">Desvincular</span>
                </button>
                <!-- <ul class="list-inline soc-pro m-t-30">
                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                </ul> -->
                <br>
                <a class="text-decoration-none text-primary pointer" data-toggle="modal" data-target="#editPassword">Cambiar Contraseña</a>

            </div>

        </div>

        <div class="card mt-4">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title">
                            <span class="lstick">

                            </span>Entrevistas</h4>
                    </div>

                    <div class="ml-auto">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#newEntrevista"> Crear </button>
                    </div>
                </div>
                <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd no-wrap pro-of-month">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Confirmada</th>
                                <th>Estatus</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="entrevistas.length === 0">
                                <td colspan="5">
                                    <p class="mb-0 text-center">No se a creado ninguna entrevista...</p>
                                </td>
                            </tr>

                            <tr *ngFor="let item of entrevistas">
                                <td> {{ item.control }} </td>
                                <td> {{ item.day | fecha }} </td>
                                <td>
                                    <span *ngIf="!item.confirm" class="label label-warning label-rounded">Pediente</span>
                                    <span *ngIf="item.confirm" class="label label-success label-rounded">Confirmada</span>
                                </td>
                                <td>
                                    <span *ngIf="!item.status" class="label label-warning label-rounded">Pendiente</span>
                                    <span *ngIf="item.status" class="label label-success label-rounded">Completada</span>
                                </td>
                                <td>
                                    <a [href]="item.enlace" target="_blank" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-primary" data-toggle="tooltip" data-original-title="Aprobar">
                                        <i class="ti-link" aria-hidden="true"></i>
                                    </a>
                                    <button (click)="completarEntrevista(true, item.eid)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-success" data-toggle="tooltip" data-original-title="Aprobar">
                                        <i class="ti-check" aria-hidden="true"></i>
                                    </button>
                                    <button (click)="deleteEntrevista(item.eid)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-danger" data-toggle="tooltip" data-original-title="Rechazar">
                                        <i class="ti-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span> Acerca del trabajador</h4>
                <h4 class="font-medium m-t-30">Breve descripción</h4>
                <p *ngIf="!worker.description" class="m-t-10">
                    Este usuario no ha suministrado ninguna descripción...
                </p>
                <p *ngIf="worker.description" class="m-t-10">
                    {{ worker.description }}
                </p>

                <h4 class="font-medium m-t-10">Experiencias o Habilidades</h4>
                <hr>

                <ul class="feeds">
                    <li *ngFor="let exp of worker.skills">
                        {{ exp.name }}

                        <span class="label label-info label-rounded pull-right">
                            {{ exp.years }}
                            <span *ngIf="exp.years === 1">año</span>
                        <span *ngIf="exp.years > 1">años</span>
                        </span>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <!-- IMG -->

</div>

<!-- MODAL SUBIR ARCHIVOS -->
<div class="modal fade" id="subirArchivos" tabindex="-1" aria-labelledby="subirArchivosLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div *ngIf="loading" class="spinner-grow text-primary me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5 class="modal-title" id="subirArchivosLabel">Subir Archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label class="col-md-12">Tipo de documento </label>
                    <div class="col-md-12">
                        <select class="form-control" #desc>
                            <option value="Cedula Ciudadania">Cedula Ciudadania</option>
                            <option value="Hoja de vida">Hoja de vida</option>
                            <option value="Registro Civil">Registro Civil</option>
                            <option value="Registro de Matrimonio">Registro de Matrimonio</option>
                            <option value="EPS">EPS</option>
                            <option value="Pensiones">Certificado del Fondo Pensiones</option>
                            <option value="Cesantias">Certificado de Cesantias</option>
                            <option value="Banco">Certificado Bancario</option>
                            <option value="Caja de Compensacion">Caja de Compensacion</option>
                            <option value="RUT">RUT</option>
                            <option value="Antecedentes">Certificado de antecedentes de CONTRALORIA, PROCURADURIA Y PONAL</option>
                            <option value="Examen Medico">Examen Medico</option>
                            <option value="Pruebas Psicotecnicas">Pruebas Psicotecnicas</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlFile1">Subir archivo</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" #file (change)="selecArch($event.target)">
                </div>

                <button [disabled]="loading" (click)="subirArch(desc.value)" type="button" name="" id="" class="btn btn-primary btn-sm">
                    <span *ngIf="!loading">                            
                        Guardar
                    </span>
                    <span *ngIf="loading">                            
                        Guardando...
                    </span>
                </button>

                <!-- <div class="d-flex flex-row flex-wrap gap-2 justify-content-center mt-2">

                    <div>
                        <input #file type="file" class="form-control" name="" id="" placeholder="" (change)="selecArch($event.target)">
                    </div>

                    

                </div> -->

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL SUBIR ARCHIVOS -->

<!-- MODAL SELECCIONAR TRABAJO -->
<div class="modal fade" id="selectJob" tabindex="-1" aria-labelledby="selectJobLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div *ngIf="loading" class="spinner-grow text-primary me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5 class="modal-title" id="selectJobLabel">Certificado Laboral</h5>
                <button (click)="downloadPDF()" type="button" class="btn btn-danger btn-sm">PDF</button>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div *ngIf="jobSelect" class="card card-body" id="pdf">


                    <div class="container-fluid py-5">

                        <div class="d-flex justify-content-center mb-4">
                            <img src="../../../assets/images/logo/logo.webp" style="max-width: 200px;" alt="">
                        </div>

                        <h3 class="box-title mb-0 text-center font-weight-bold"> FORTALEZA TEMP JOB PLUS EST S.A.S</h3>
                        <h4 class="box-title mb-4 text-center font-weight-bold"> NIT. 901.601.054-5</h4>

                        <p class="text-center mx-auto">CERTIFICA QUE:</p>

                        <br>
                        <p class="text-justify ">
                            El colaborador (a) <span class="font-weight-bold">{{ worker.name }}</span>, con Cédula de Ciudadanía número <span class="font-weight-bold">{{ worker.cedula | number }}</span>, labora al servicio de esta compañía desde el {{
                            jobSelect.fechain | fecha }} a la fecha, mediante un contrato de Obra o Labor Contratada desempeñando el cargo de <span class="font-weight-bold"> {{ jobSelect.name
                            }} </span> en la empresa usuaria <span class="font-weight-bold">{{ jobSelect.bussiness.name }}</span>.
                        </p>
                        <br>

                        <p class="text-justify">La presente se expide en la ciudad de Bucaramanga a solicitud del trabajador {{ worker.name }} dirigida a QUIEN INTERESE, con fecha {{ dateActual | date:'d, MMMM, y' }}.</p>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>Atentamente,</p>
                        <br>
                        <br>
                        <br>

                        <div>
                            <div>
                                <div style="max-width: 200px; border-bottom: 2px solid #dcdcdc;">
                                    <img src="../../../assets/images/logo/firma.jpg" style="max-width: 150px; margin: auto;" alt="">
                                </div>
                                <div>
                                    <p class="mb-0">YURY MARCELA ESCALANTE</p>
                                    <p class="mb-0">Coordinadora de Gestión Humana</p>
                                    <p class="mb-0">Tel. 3245173063</p>
                                    <p class="mb-0">gestion.humana@fortalezasas.com</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL SELECCIONAR TRABAJO -->

<!-- MODAL CREAR ENTREVISTA -->
<div class="modal fade" id="newEntrevista" tabindex="-1" aria-labelledby="newEntrevistaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newEntrevistaLabel">Crear Entrevista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-material" autocomplete="off" [formGroup]="entrevistaForm" (ngSubmit)="createEntrevista()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="enlace" type="text" class="form-control" placeholder="Enlace de la entrevista">
                            <div *ngIf="validate('enlace')" class="form-control-feedback">
                                <small> El enlace es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="day" type="datetime-local" class="form-control" placeholder="Fecha de la entrevista">
                            <div *ngIf="validate('day')" class="form-control-feedback">
                                <small> La fecha es obligatoria</small>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Crear</button>
                </form>

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL CREAR ENTREVISTA -->

<!-- MODAL EDITAR PERFIL DEL TRABAJADOR -->
<div class="modal fade" id="editPerfil" tabindex="-1" aria-labelledby="editPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPerfilLabel">Editar perfil de <span *ngIf="worker">{{worker.name}}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <form *ngIf="worker!" class="form-horizontal form-material" autocomplete="off" [formGroup]="formEdit" (ngSubmit)="editarPerfil()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="name" type="text" class="form-control" placeholder="Nombres">
                            <div *ngIf="validateEdit('name')" class="form-control-feedback">
                                <small> Los nombres son obligatorios </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula">
                            <div *ngIf="validateEdit('cedula')" class="form-control-feedback">
                                <small> La cedula es obligatoria </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="phone" type="text" class="form-control" placeholder="Telefono">
                            <div *ngIf="validateEdit('phone')" class="form-control-feedback">
                                <small> El teelfono es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="address" type="text" class="form-control" placeholder="Dirección">
                            <div *ngIf="validateEdit('address')" class="form-control-feedback">
                                <small> La dirección es obligatoria </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="city" type="text" class="form-control" placeholder="Ciudad">
                            <div *ngIf="validateEdit('city')" class="form-control-feedback">
                                <small> La ciudad es obligatoria </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="department" type="text" class="form-control" placeholder="Departamento">
                            <div *ngIf="validateEdit('department')" class="form-control-feedback">
                                <small> El departamento es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="barrio" type="text" class="form-control" placeholder="barrio">
                            <div *ngIf="validateEdit('barrio')" class="form-control-feedback">
                                <small> Este campo es obligatorio </small>
                            </div>
                        </div>



                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Actualizar</button>
                </form>

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDITAR PERFIL DEL TRABAJADOR -->

<!-- MODAL EDITAR PASSWORD -->
<div class="modal fade" id="editPassword" tabindex="-1" aria-labelledby="editPasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPasswordLabel">Cambiar Contraseña del trabajador <span *ngIf="worker">{{worker.name}}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <form *ngIf="worker!" class="form-horizontal form-material" autocomplete="off" [formGroup]="formPass" (ngSubmit)="editarPassword()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="password" type="password" class="form-control" placeholder="Contraseña">
                            <div *ngIf="validatePassword('password')" class="form-control-feedback">
                                <small> Este campo es obligatorio, minimo 6 caracteres</small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="repassword" type="password" class="form-control" placeholder="Repetir Contraseña">
                            <div *ngIf="validatePassword('repassword')" class="form-control-feedback">
                                <small> Este campo es obligatorio, minimo 6 caracteres</small>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Actualizar</button>
                </form>

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDITAR PASSWORD -->