<!-- CONTROL - CLIENT -->
<div *ngIf="bussiness" class="d-flex align-item-center flex-wrap gap-2 mb-3">

    <div class="d-flex flex-row bg-white pl-0 shadow-sm mt-2">
        <div class="p-10 bg-success" [ngClass]="{'bg-warning': bussiness.status === false}">
            <h3 class="text-white box m-b-0">
                <i class=" mdi mdi-city fs-2"></i>
            </h3>
        </div>
        <div class="align-self-center m-l-20 pr-3">
            <h4 class="m-b-0  text-break" [ngClass]="{'text-warning': bussiness.status === false, 'text-success': bussiness.status }"> Status </h4>
            <small class="text-muted m-b-0">
                <span *ngIf="bussiness.status">Activo</span>
                <span *ngIf="!bussiness.status">Desactivado</span>
                
            </small>

        </div>


    </div>


</div>
<!-- CONTROL - CLIENT -->

<div *ngIf="bussiness" class="row">

    <!-- INFORMACION -->

    <div class="col-lg-8 col-xlg-9 col-md-7">

        <div class="card-body bg-white">

            <div class="d-flex">
                <div>
                    <h4 class="card-title"><span class="lstick"></span>Dirección</h4>
                </div>

                <div class="ml-auto">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editBussiness">
                        Editar Datos
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-xs-6 b-r"> <strong>Telefono</strong>
                    <br>
                    <p class="text-muted">
                        <i class="mdi mdi-phone"></i> {{ bussiness.phone || '--- ----' }}
                    </p>
                </div>
                <div class="col-md-auto col-xs-6 b-r"> <strong>Email</strong>
                    <br>
                    <p class="text-muted text-break text-wrap">
                        <i class="mdi mdi-mail-ru"></i> {{ bussiness.email || '----@----.com' }}
                    </p>
                </div>
                <div class="col-md-3 col-xs-6"> <strong>Ciudad</strong>
                    <br>
                    <p class="text-muted text-break">
                        <i class="mdi mdi-map-marker-circle"></i> {{ bussiness.city || '-------------' }}
                    </p>
                </div>
            </div>
            <hr>

            <div class="col-12"> <strong>Departamento</strong>
                <br>
                <p class="text-muted">
                    <i class="mdi mdi-map-marker-circle"></i> {{ bussiness.department || '-------------' }}
                </p>
            </div>
            <hr>
            <div class="col-12"> <strong>Dirección</strong>
                <br>
                <p class="text-muted">
                    <i class="mdi mdi-map-marker-circle"></i> {{ bussiness.address || '-------------' }}
                </p>
            </div>
            <hr>
            <div class="col-12"> <strong>Barrio</strong>
                <br>
                <p class="text-muted">
                    <i class="mdi mdi-map-marker-circle"></i> {{ bussiness.barrio || '-------------' }}
                </p>
            </div>



        </div>




    </div>

    <!-- INFORMACION -->

    <!-- IMG -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body little-profile text-center">
                <div class="pro-img m-t-20">
                    <a href="https://grupofortalezasas.com/api/uploads/worker/{{bussiness.img}}" download target="_blank">
                        <img [src]="bussiness.img | imagen:'worker'" alt="user">
                    </a>
                </div>
                <h3 class="m-b-0"> {{ bussiness.name }} </h3>
                <p class="mb-3 text-muted"> Nit ó CC: {{bussiness.nit || '--------'}} </p>

                <!-- <ul class="list-inline soc-pro m-t-30">
                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                </ul> -->
                <br>
                <a class="text-decoration-none text-primary pointer" data-toggle="modal" data-target="#editPassword">Cambiar Contraseña</a>
            </div>

        </div>


    </div>
    <!-- IMG -->

</div>

<!-- JOBS O TRABAJOS -->
<div class="card mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between flex-wrap">
            <div>
                <h4 class="card-title"><span class="lstick"></span>Ofertas</h4>
            </div>
            <div>
                <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-job">Nueva Oferta</button>
            </div>
        </div>


        <div class="table-responsive m-t-20 no-wrap">

            <hr>
            <table class="table vm no-th-brd pro-of-month">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Oferta</th>
                        <th colspan="2">Descripción</th>
                        <th>Pago</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- <a _ngcontent-hbs-c37="" target="_blank" class="btn btn-sm btn-outline-primary border-0" href="https://grupofortalezasas.com/api/uploads/archivos/e01fb37e-7b1c-4a33-99c5-b49f499f4200.docx"><i _ngcontent-hbs-c37="" class="bi bi-arrow-90deg-right"></i></a> -->

                    <tr *ngIf="jobs.length === 0">
                        <td colspan="6">
                            <h4 class="mb-0 text-center"> No se ha creado ninguna oferta de empleo </h4>
                        </td>
                    </tr>

                    <tr *ngFor="let job of jobs">

                        <td>{{job.control}}</td>

                        <td style="width:50px;">
                            {{ job.name }}
                        </td>

                        <td colspan="2">
                            <p class="text-break text-truncate" style="width:18rem;">
                                {{ job.description }}
                                <br>
                                <small class="text-muted">fecha: {{ job.fecha | date:'short' }}</small>
                            </p>
                        </td>

                        <td> {{ job.sueldo | currency: 'COP' }} </td>

                        <td>
                            <span *ngIf="job.type === 'Pendiente'" class="label label-warning label-rounded">Pendiente</span>
                            <span *ngIf="job.type === 'Aprobado'" class="label label-success label-rounded">Aprobado</span>
                        </td>

                        <td>
                            <button type="button" (click)="selectJob(job)" data-toggle="modal" data-target="#editJob" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-primary">
                                <i class="ti-pencil" aria-hidden="true"></i>
                            </button>

                            <button (click)="deleteJob(job.jid)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn text-danger" data-toggle="tooltip" data-original-title="Eliminar">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- JOBS O TRABAJOS -->

<!-- ========================================================= 
MODAL AGREGAR EMPRESA
======================================================== -->
<div id="add-job" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #modalNewUser>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Nueva Empresa</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-material" autocomplete="off" [formGroup]="formCreate" (ngSubmit)="createJob()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="name" type="text" class="form-control" placeholder="Cargo o nombre de la oferta">
                            <div *ngIf="validateForm('name')" class="form-control-feedback">
                                <small>Cargo o nombre de la oferta </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <textarea formControlName="description" class="form-control" placeholder="Descripcion" id="floatingTextarea" style="min-height: 100px"></textarea>
                            <div *ngIf="validateForm('description')" class="form-control-feedback">
                                <small> La descripción es obligatoria</small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="sueldo" type="text" class="form-control" placeholder="Sueldo">
                            <div *ngIf="validateForm('sueldo')" class="form-control-feedback">
                                <small> El Sueldo es obligatorio </small>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Crear</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- MODAL EDITAR TRABAJO -->
<div class="modal fade" id="editJob" tabindex="-1" aria-labelledby="editJobLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div *ngIf="loading" class="spinner-grow text-primary me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5 class="modal-title" id="editJobLabel">Información de la oferta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div *ngIf="jobSelect && !loading">

                    <div class="container">

                        <div class="d-flex flex-row comment-row mb-4">

                            <div class="comment-text w-100">
                                <h4 class="mb-2 text-center text-primary fw-bold"> {{ jobSelect.name }} </h4>
                                <h5 class="">Pago: {{ jobSelect.sueldo | currency:'COP' }} </h5>
                                <p class="m-b-5"> {{ jobSelect.description }} </p>
                                <div class="comment-footer">
                                    <span class="text-muted pull-right"> {{ jobSelect.fecha | date: 'short' }} </span>
                                    <span *ngIf="jobSelect.type === 'Pendiente'" class="label label-warning label-rounded">Pendiente</span>
                                    <span *ngIf="jobSelect.type === 'Aprobado'" class="label label-success label-rounded">Aprobado</span>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <!-- ASIGNAR TRABAJADOR -->
                        <div class="my-2">

                            <h5> Asignar Trabajador </h5>

                            <input type="text" autocomplete="off" id="demo-input-search3" placeholder="Buscar Trabajador" (keyup)="searchTrabajador(buscadorW.value)" class="form-control m-0" #buscadorW>
                            <small *ngIf="resultadoW > 0" class="text-muted animated fadeIn">Resultados: {{resultadoW}}</small>
                            <small *ngIf="sinResultadoW" class="text-muted animated fadeIn">Sin resultados...</small>

                            <div *ngIf="workers.length > 0" class="list-group list-group-flush" style="max-height:400px; overflow-y: scroll; z-index: 500; position: fixed;">

                                <ng-container *ngFor="let worker of workers">
                                    <button type="button" (click)="asignarWorker(worker)" class="list-group-item list-group-item-action pointer animated fadeIn">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1 text-break fw-bolder">{{ worker.name }}</h5>
                                            <small> 
                                                <span *ngIf="worker.status" class="label label-success"> Activo </span>
                                                <span *ngIf="!worker.status" class="label label-danger"> Desactivado </span>
                                            </small>
                                        </div>
                                        <p class="mb-1" *ngIf="worker.phone" > <i class="mdi mdi-cellphone-iphone"></i> {{ worker.phone }} </p>
                                        <small *ngIf="worker.address" class="text-break"> 
                                            <span *ngIf="worker.city" > <i class="mdi mdi-map-marker"></i> {{ worker.city }} - </span> {{ worker.address }} 
                                        </small>                          
                                        
                                    </button>
                                </ng-container>

                            </div>

                            <div *ngIf="jobSelect.worker" class="card card-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-3 text-center">
                                        <img [src]="jobSelect.worker.img | imagen:'worker'" class="img-circle img-responsive">
                                    </div>
                                    <div class="col-md-8 col-lg-9">
                                        <h3 class="box-title m-b-0"> {{ jobSelect.worker.name }} </h3>
                                        <div class="d-flex gap-2">
                                            <small class="label label-info label-rounded" *ngFor="let skill of jobSelect.worker.skills">
                                                {{ skill.name }} 
                                            </small>
                                        </div>
                                        <address>
                                            {{ jobSelect.worker.address }}
                                            <br>
                                            <abbr title="Telefono">Telefono:</abbr> {{ jobSelect.worker.phone }}
                                        </address>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr>


                        <!-- ASSIGNAR FECHA DE INICIO -->
                        <div class="mb-2">

                            <h5> fecha de inicio </h5>

                            <input class="form-control" type="date" placeholder="Fecha de inicio" #dateIn>

                        </div>

                    </div>


                    <button [disabled]="loading" (click)="asignarFechaWorker(dateIn.value)" type="button" name="" id="" class="btn btn-primary btn-sm">
                        <span *ngIf="!loading">                            
                            Guardar
                        </span>
                        <span *ngIf="loading">                            
                            Guardando...
                        </span>
                    </button>

                </div>

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDITAR TRABAJO -->

<!-- MODAL EDITAR EDITAR EMPRESA -->
<div class="modal fade" id="editBussiness" tabindex="-1" aria-labelledby="editBussinessLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBussinessLabel">Editar datos de <span *ngIf="bussiness">{{bussiness.name}}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <form *ngIf="bussiness!" class="form-horizontal form-material" autocomplete="off" [formGroup]="editBussineessForm" (ngSubmit)="editarBussiness()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="name" type="text" class="form-control" placeholder="Nombre o Razón Social">
                            <div *ngIf="validateEdit('name')" class="form-control-feedback">
                                <small> El Nombre o la Razón Social es obligatoria </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="nit" type="text" class="form-control" placeholder="NIT">
                            <div *ngIf="validateEdit('nit')" class="form-control-feedback">
                                <small> El NIT es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="email" type="email" class="form-control" placeholder="Email">
                            <div *ngIf="validateEdit('email')" class="form-control-feedback">
                                <small> El email es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="phone" type="text" class="form-control" placeholder="Telefono">
                            <div *ngIf="validateEdit('phone')" class="form-control-feedback">
                                <small> El telefono es obligatorio </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="address" type="text" class="form-control" placeholder="Dirección">
                            <div *ngIf="validateEdit('address')" class="form-control-feedback">
                                <small> La dirección es obligatoria </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="city" type="text" class="form-control" placeholder="Ciudad">
                            <div *ngIf="validateEdit('city')" class="form-control-feedback">
                                <small> La ciudad es obligatoria </small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="department" type="text" class="form-control" placeholder="Departamento">
                            <div *ngIf="validateEdit('department')" class="form-control-feedback">
                                <small> El departamento es obligatorio </small>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Actualizar</button>
                </form>

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDITAR EDITAR EMPRESA -->

<!-- MODAL EDITAR PASSWORD -->
<div class="modal fade" id="editPassword" tabindex="-1" aria-labelledby="editPasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPasswordLabel">Cambiar Contraseña de <span *ngIf="bussiness">{{bussiness.name}}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <form *ngIf="bussiness!" class="form-horizontal form-material" autocomplete="off" [formGroup]="formPass" (ngSubmit)="editarPassword()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="password" type="password" class="form-control" placeholder="Contraseña">
                            <div *ngIf="validatePassword('password')" class="form-control-feedback">
                                <small> Este campo es obligatorio, minimo 6 caracteres</small>
                            </div>
                        </div>

                        <div class="col-md-12 m-b-20">
                            <input formControlName="repassword" type="password" class="form-control" placeholder="Repetir Contraseña">
                            <div *ngIf="validatePassword('repassword')" class="form-control-feedback">
                                <small> Este campo es obligatorio, minimo 6 caracteres</small>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Actualizar</button>
                </form>

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDITAR PASSWORD -->